
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --pallet-one-color:#D76483;
  --pallet-two-color:#EF9CA4;
  --pallet-three-color:#FFC2BB;
  --pallet-four-color:#F6E5CB;
  --pallet-five-color:#C3AAA5;
}

body{
  background: rgb(195,170,165);
  background: linear-gradient(90deg, rgba(195,170,165,1) 4%, rgba(246,229,203,1) 16%, rgba(255,194,187,1) 34%, rgba(239,156,164,1) 55%, rgba(215,100,131,1) 81%);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
    font-style: normal;
}