.card_product{
    background-color: antiquewhite; 
    margin: 15px;
    display: flex;                                                                                     
    flex-direction: column;
    width: 220px;
}

.img_product-container img{
    width: 220px;
    height: 220px;
}

.info_product-container{
    padding: 10px;
    background-color: var(--pallet-five-color);
}